<?xml version="1.0" encoding="UTF-8" ?>

<widget xmlns="http://www.w3.org/ns/widgets"
  xmlns:gap="http://phonegap.com/ns/1.0"
  id="com.dwsmorris.BabyNameMeanings"
  version = "1.0.0">

  <preference name="phonegap-version" value="3.6.3" />

  <name>Baby Name Meanings</name>
  <description>Baby Name Meanings</description>
  <author href="http://www.dwsmorris.com" email="dwsmorris@hotmail.com">
    Darryl Morris
  </author>

</widget>
